<div class="container">
    <div class="card mt-5">
        <header class="card-header">
          <p class="card-header-title is-centered">
            Typing Challenge
          </p>
        </header>
        <div class="card-content">
            <p>
                <span *ngFor="let letter of randomText.split(''); let i = index"  [class]="compareLetters(letter, inputText[i])">{{
                    letter
                }}</span>
            </p>
            <textarea class="textarea mt-3" placeholder="Write the text here!" rows="2"
            #textarea (input)="onInput(textarea.value)"></textarea>
        </div>
        <footer class="card-footer" *ngIf="randomText === inputText">
            <p class="card-header-title title is-centered mb-4 has-text-success">
            Well done!
            </p>
        </footer>
    </div>
</div>
